/* QUESTION from PLATFORM:
Add a new section to the layout as the picture displays. The boxes are squares of 45px per side (to be converted into rem) and their alignment is performed with flex rules. 
The background color, the color,
and the font-size can be handled using the flow control (@for, @if, etc...) and the darken and lighten methods (the numbers have a multiplier equal to 5) In particular,
you need to create the classes .fs-1rem,
.fs-2rem e .fs-3rem using @each The added colors are black and white only
*/
/*
Suggerimento @for $var from 1 to 20 {
    ... @if $var ==10 {
        ...
    }
}
*/
.debug {
  border: 0.0625rem solid red;
}

.fs-1rem {
  font-size: 1rem;
}

.fs-2rem {
  font-size: 2rem;
}

.fs-3rem {
  font-size: 3rem;
}

body {
  border: 0.0625rem solid red;
  padding: 1.25rem;
}
body div:first-child h1, body div:first-child h2 {
  margin: 0;
  color: green;
  text-decoration: underline;
  text-decoration-color: blue;
}
body div:first-child h2 {
  margin: 2rem;
}
body div:first-child h2 span {
  padding: 1rem;
  border: 0.0625rem solid red;
}
body div.paragraphs {
  display: flex;
  text-align: center;
}
body div.paragraphs p {
  border: 0.0625rem solid green;
  padding: 2.1875rem;
}
body div.paragraphs p:nth-child(odd) {
  color: blue;
}
body div.paragraphs p:nth-child(even) {
  color: red;
}
body div.footer {
  border: 0.0625rem solid blue;
  font-size: 1.5rem;
  color: green;
  text-align: center;
  padding: 1.25rem;
}
body .title {
  text-align: center;
}
body .numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
body .numbers div:nth-child(1) {
  background-color: #f2f2f2;
  color: #0d0d0d;
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
}
body .numbers div:nth-child(2) {
  background-color: #e6e6e6;
  color: #1a1a1a;
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
}
body .numbers div:nth-child(3) {
  background-color: #d9d9d9;
  color: #262626;
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
}
body .numbers div:nth-child(4) {
  background-color: #cccccc;
  color: #333333;
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
}
body .numbers div:nth-child(5) {
  background-color: #bfbfbf;
  color: #404040;
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
}
body .numbers div:nth-child(6) {
  background-color: #b3b3b3;
  color: #4d4d4d;
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
}
body .numbers div:nth-child(7) {
  background-color: #a6a6a6;
  color: #595959;
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
}
body .numbers div:nth-child(8) {
  background-color: #999999;
  color: #666666;
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
}
body .numbers div:nth-child(9) {
  background-color: #8c8c8c;
  color: #737373;
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
}
body .numbers div:nth-child(10) {
  background-color: gray;
  color: gray;
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
}
body .numbers div:nth-child(10) {
  color: red;
  background-color: blue;
}
body .numbers div:nth-child(11) {
  background-color: #737373;
  color: #8c8c8c;
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
}
body .numbers div:nth-child(12) {
  background-color: #666666;
  color: #999999;
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
}
body .numbers div:nth-child(13) {
  background-color: #595959;
  color: #a6a6a6;
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
}
body .numbers div:nth-child(14) {
  background-color: #4d4d4d;
  color: #b3b3b3;
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
}
body .numbers div:nth-child(15) {
  background-color: #404040;
  color: #bfbfbf;
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
}
body .numbers div:nth-child(16) {
  background-color: #333333;
  color: #cccccc;
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
}
body .numbers div:nth-child(17) {
  background-color: #262626;
  color: #d9d9d9;
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
}
body .numbers div:nth-child(18) {
  background-color: #1a1a1a;
  color: #e6e6e6;
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
}
body .numbers div:nth-child(19) {
  background-color: #0d0d0d;
  color: #f2f2f2;
  border: 0.0625rem solid red;
  width: 2.8125rem;
  height: 2.8125rem;
}

/*
"You are missing the classes you need to generate using a for loop, for the styling of the numbers. 
And you'rem issing the .fs-1rem fs-2rem and .fs-3rem classes too, that can be created using the @each in SCSS"
*/

/*# sourceMappingURL=style.css.map */
